div#quiz{
    background-color: rgb(32 32 32);
    border: solid;
    width: 800px;
    height: 850px;
    float: center;
    position: relative;
    margin: 0 auto 0 auto;
}


div#dquestoes{
    padding:10px 40px 40px 40px;
    background-color:rgb(26 26 26);
    width: 600px;
    height: 550px;
    color: #ffffff;
    float: center;
    position: relative;
    margin: 50px auto 0 auto;
    font-size: 1.2em;
}

div#wdquestoes{
    float: center;
    position: relative;
    margin: 0px auto 0 auto;
    width: 122px;
}

div#rA{
    background-color:rgb(32 32 32);
    width: 450px;
    height: 30px;
    float: center;
    position: relative;
    margin: 0 auto 0 auto;
}

div#rB{
    background-color:rgb(32 32 32);
    width: 450px;
    height: 30px;
    float: center;
    position: relative;
    margin: 0 auto 0 auto;
}

div#rC{
    background-color:rgb(32 32 32);
    width: 450px;
    height: 30px;
    float: center;
    position: relative;
    margin: 0 auto 0 auto;
}

div#rD{
    background-color:rgb(32 32 32);
    width: 450px;
    height: 30px;
    float: center;
    position: relative;
    margin: 0 auto 0 auto;
}

div#imgquestoes{
    width: 390px;
    height: 250px;
    float: center;
    position: relative;
    margin: 0 auto 0 auto;
}

div#vprogress{
    padding: 5px 40px 20px 30px;
    background-color: rgb(26 26 26);
    width: 600px;
    height: 30px;
    color: #ffffff;
    float: center;
    position: relative;
    margin: 0px auto 0 auto;
    text-align: center;
}

div#titquiz{
    padding: 10px 5px 5px 5px;
    background-color:rgb(26 26 26);
    width: 570px;
    height: 50px;
    color: #ffffff;
    float: center;
    position: relative;
    margin: 5px auto 0 auto;
    text-align: center;
    font-size: 1.8em;
}

h2#progresso {
    color: #ffffff;
    font-size: 1.4em;
}

button {
    box-sizing: inherit;
font: inherit;
border-style: solid;
border-width: 0;
font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-weight: 400;
line-height: normal;
margin: 0 0 1.25rem;
position: relative;
text-align: center;
text-decoration: none;
padding: 1rem 2rem 1.0625rem;
font-size: 1rem;
background-color: #008cba;
border-color: #007095;
color: #fff;
transition: background-color 300ms ease-out;
display: inline-block;
cursor: pointer;
border-radius: 1000px;
border-bottom: 2px solid #006588;
}

button:hover {
    box-shadow: 0em .1em 0.2em .2em rgba(255,255,255,.5);	
    color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	-moz-transition: all 0.9s ease;
			-webkit-transition: all 0.9s ease;
				-o-transition: all 0.9s ease;
					transition: all 0.9s ease;
}


h3{
    color: #ffffff;
    font-size: 1em;
    text-align: center;
}

h4{
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

h5{
    color: #ffffff;
    font-size: .8em;
    text-align: center;
}


a:visited {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: none;
    color: white;
}
  
a:active {
    text-decoration: none;
    color: white;
}  